body, p {
    color: rgb(45, 94, 134);
    margin-top: 20px;
    font-size: 15px;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

h1 {
    margin: 5px;
    padding: 30px;
    background-image: linear-gradient(to bottom right, rgb(143, 189, 226), rgb(255, 226, 132));
    color: rgb(45, 94, 134);
    position: relative;
    font-size: 40px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-weight: bold;
    border-radius: .5em;
    letter-spacing: 1.5px;
    text-shadow: 0px 5px rgb(176, 198, 216);
}

h4 {
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

span {
    color:black;
    background-color: rgb(255, 196, 0);
    padding: 5px;
    line-height: 2em;
    border-radius: 4px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
}

#submit {
    padding: 8px 20px 8px 20px;
    background-color: rgb(45, 94, 134);
    font-weight: bold;
    color: white;
    font-size: 14px;
    text-decoration: none;
    border-radius: 4px;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

#mid-col-1 {
    background-color: rgb(177, 204, 226);
    margin: 15px;
    padding: 10px 30px 10px 30px;
    border-radius: 1em;
}

#mid-col-2 {
    background-color: rgb(255, 226, 132);
    margin: 15px;
    padding: 10px 30px 10px 30px;
    border-radius: 1em;
}

#radiobtns {
    color: rgb(255, 196, 0);
    display: block;
    position: relative;
    margin: 10px;
    font-size: 16px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#calcimg {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 60px;
    width: 200px;
}