body, p {
    background-color: tan;
    color: sienna;
    position: relative;
    width: 80%;
    text-align: left;
    padding-top: 20px;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.quality {
    font-size: 18px;
}

.container {
    padding:0px;
}

h1 {
    padding: 30px;
    background-color: rgb(168, 140, 104);
    color: rgb(45, 94, 134);
    position: relative;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h2 {
    font-size: 35px;
}

#submit {
    background-color: sienna;
    font-weight: bold;
    color: white;
    padding: 5px 25px 5px 25px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 4px;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

#mainarea {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}
#radiobtns {
    color: steelblue;
    display: block;
    position: relative;
    padding: 10px;
    cursor: crosshair;
    font-size: 20px;
}

#imgplace {
    padding-top: 35px;
}

#calcimg {
    border-radius: 60px;
}

footer {
    background-color: rgb(168, 140, 104);
    color: sienna;
    position: relative;
    text-align: left;
    padding: 40px;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}